- odd_classes = 'pull-right' unless invert_icons
- even_classes = 'pull-right' if invert_icons

.feature
  .container.contained
    .row
      %div{class: "col-xs-12 col-md-4 #{odd_classes}"}
        = image_tag asset_path('ballicons/wifi.svg'), class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 Router Wi-Fi

        %p
          Il nostro router Wi-Fi viene fornito in comodato d'uso gratuito. In
          caso di guasto, la sostituzione non ti costa assolutamente nulla!
          Inoltre, tutti i nostri router sono equipaggiati con DD-WRT
          preconfigurato.

        %p
          %strong Sfrutta al massimo il tuo router con DD-WRT.

.feature
  .container.contained
    .row
      %div{class: "col-xs-12 col-md-4 #{even_classes}"}
        = image_tag asset_path('ballicons/statistic.svg'), class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 15 giorni di prova

        %p
          Nesuno dovrebbe pagare per un servizio che non conosce. Per questo
          motivo offriamo a tutti gli utenti 15 giorni di prova gratuita e
          senza impegno. Al termine della prova, potrai decidere se vuoi
          mantenere il servizio.

        %p
          %strong Non c'è alcun motivo per non dare un'occhiata.

.feature
  .container.contained
    .row
      %div{class: "col-xs-12 col-md-4 #{odd_classes}"}
        = image_tag asset_path('ballicons/browser.svg'), class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 IP pubblico dinamico

        %p
          Molti ISP assegnano a più utenti lo stesso IP pubblico. Questo
          sistema, sebbene più economico per il fornitore, rende molto più
          difficoltoso l'uso di software P2P. Noi assegniamo invece a ogni
          utente un IP pubblico dinamico.

        %p
          %strong Non lasciarti limitare. Scegli InterConn.
