- provide :title, 'WADSL'
- provide :body_id, 'pricing-wadsl'

= render 'pages/pricing/navigation'

.container
  %section
    .heading
      .container
        %h1.heading-title WADSL: veloce e affidabile.
        %h3.heading-description L'ideale per sbrigare le faccende di ogni giorno.

    .row.pricing-tables-container
      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 7 Mega Privati
            %li.product-price
              %span.price-currency €
              %span.price-digits 24
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €180 u.t.*

            %li.product-feature.product-feature-2x
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 7 Mbps / 1 Mbps

            %li.product-feature.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico
                %li.feature-numbers €6 / mese*

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'wadsl-7mega-privati'), class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 10 Mega Privati
            %li.product-price
              %span.price-currency €
              %span.price-digits 31
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €180 u.t.*

            %li.product-feature.product-feature-2x
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 10 Mbps / 1 Mbps

            %li.product-feature.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico
                %li.feature-numbers €6 / mese*

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'wadsl-10mega-privati'), class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 4 Mega Business
            %li.product-price
              %span.price-currency €
              %span.price-digits 39
              %span.price-interval / mese**

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €245 u.t.**

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 4 Mbps / 1 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 512 Kbps

            %li.product-feature.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico
                %li.feature-numbers €4,92 / mese**

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'wadsl-4mega-business'), class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 7 Mega Business
            %li.product-price
              %span.price-currency €
              %span.price-digits 69
              %span.price-interval / mese**

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €245 u.t.**

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 7 Mbps / 1 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 512 Kbps

            %li.product-feature.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico
                %li.feature-numbers €4,92 / mese**

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'wadsl-7mega-business'), class: 'btn btn-orange btn-lg btn-transition'

    = render 'pages/pricing/custom_plans'

    .row
      .col-xs-12
        .asterisks-explanation
          %ul.list-unstyled
            %li * Prezzo da intendersi IVA inclusa.
            %li ** Prezzo da intendersi IVA esclusa.

.feature-list.feature-list-inverted
  = render 'pages/pricing/common_features'

  .feature
    .container.contained
      .row
        .col-xs-12.col-md-4.pull-right
          = image_tag 'ballicons/browser.svg', class: 'feature-icon'

        .col-xs-12.col-md-8
          %h3 IP pubblico

          %p
            Molti ISP assegnano a più utenti lo stesso IP pubblico. Questo
            sistema, sebbene più economico per il fornitore, rende molto più
            difficoltoso l'uso di software P2P. Noi assegniamo invece a ogni
            utente un IP pubblico dinamico.

          %p
            %strong Non lasciarti limitare. Scegli InterConn.
