- provide :title, 'InterConn WHDSL'
- provide :body_id, 'pricing-whdsl'

= render 'pages/pricing/navigation'

.container
  %section
    .heading
      %h1.heading-title WHDSL: per il professionista.
      %h3.heading-description
        Assistenza 24x7 e fino al 100% della banda garantita per i servizi
        mission critical.

    .row.pricing-tables-container
      .col-xs-12.col-md-4.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 2 Mega / 1 Mega
            %li.product-price
              %span.price-currency €
              %span.price-digits 170
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €320 u.t.*

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 2 Mbps / 2 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 1 Mbps

            %li.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico aggiuntivo
                %li.feature-numbers €4,92 / mese*

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-md-4.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 2 Mega / 2 Mega
            %li.product-price
              %span.price-currency €
              %span.price-digits 250
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €320 u.t.*

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 2 Mbps / 2 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 2 Mbps

            %li.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico aggiuntivo
                %li.feature-numbers €4,92 / mese*

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-md-4.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 4 Mega / 2 Mega
            %li.product-price
              %span.price-currency €
              %span.price-digits 400
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €320 u.t.*

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 4 Mbps / 4 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 2 Mbps

            %li.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico aggiuntivo
                %li.feature-numbers €4,92 / mese*

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

    .row.asterisks-explanation
      .col-xs-12
        %ul.list-unstyled
          %li * Prezzo da intendersi IVA esclusa.

.bg-gray
  .container.general-features-container
    .row
      .col-xs-12
        .text-center
          %h2 Ogni piano comprende...

    .row
      .col-xs-12.col-sm-6
        .contained-xs
          %dl
            %dt.h4
              = fa_icon 'envelope-o', class: 'fa-fw'
              2 email da 1 GB
            %dd
              Puoi usare le email solo per le comunicazioni di InterConn o
              per tutte le tue necessità. Se preferisci, possiamo anche inviare
              le notifiche al tuo indirizzo esistente.

            %dt.h4
              = fa_icon 'signal', class: 'fa-fw'
              Router Wi-Fi
            %dd
              Ti sarà consegnato un router Wi-Fi in comodato d'uso gratuito. Il
              router è coperto da garanzia illimitata e, in caso di guasto, sia
              il nuovo hardware che la sostituzione sono gratuiti.

            %dt.h4
              = fa_icon 'support', class: 'fa-fw'
              Assistenza dedicata 24x7

            %dd
              Puoi chiamarci giorno e notte, anche durante le feste. Troverai
              sempre un tecnico qualificato e dotato di tutti gli strumenti per
              risolvere immediatamente il tuo problema.

      .col-xs-12.col-sm-6
        .contained-xs
          %dl
            %dt.h4
              = fa_icon 'globe', class: 'fa-fw'
              IP pubblico statico

            %dd
              Molti provider limitano i propri utenti con gli IP privati.
              InterConn assegna a ogni utente con un contratto WHDSL un IP
              pubblico statico, per poter offrire i tuoi servizi al pubblico.

            %dt.h4
              = fa_icon 'clock-o', class: 'fa-fw'
              15 giorni di prova

            %dd
              Temi che il servizio non sia all'altezza? Hai 15 giorni di prova
              completamente gratuita e senza impegno. Se ci ripensi puoi
              restituirci antenna e contratto. Ma ti garantiamo che non accadrà.
