- provide :title, 'WHDSL'
- provide :body_id, 'pricing-whdsl'

= render 'pages/pricing/navigation'

.container
  %section
    .heading
      %h1.heading-title WHDSL: per il professionista.
      %h3.heading-description
        Assistenza 24x7 e fino al 100% della banda garantita per i servizi
        mission critical.

    .row.pricing-tables-container
      .col-xs-12.col-md-4.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 2 Mega / 1 Mega
            %li.product-price
              %span.price-currency €
              %span.price-digits 170
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €320 u.t.*

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 2 Mbps / 2 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 1 Mbps

            %li.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico aggiuntivo
                %li.feature-numbers €4,92 / mese*

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'whdsl-2mega-1mega'), class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-md-4.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 2 Mega / 2 Mega
            %li.product-price
              %span.price-currency €
              %span.price-digits 250
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €320 u.t.*

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 2 Mbps / 2 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 2 Mbps

            %li.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico aggiuntivo
                %li.feature-numbers €4,92 / mese*

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'whdsl-2mega-2mega'), class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-md-4.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 4 Mega / 2 Mega
            %li.product-price
              %span.price-currency €
              %span.price-digits 400
              %span.price-interval / mese*

            %li.product-feature
              %ul
                %li.feature-desc Installazione
                %li.feature-numbers €320 u.t.*

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 4 Mbps / 4 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 2 Mbps

            %li.product-feature.product-feature-optional
              %ul
                %li.feature-desc IP statico aggiuntivo
                %li.feature-numbers €4,92 / mese*

            %li.product-action
              = link_to "Attiva Offerta", new_inquiry_path(product: 'whdsl-4mega-2mega'), class: 'btn btn-orange btn-lg btn-transition'

    .row
      .col-xs-12
        .asterisks-explanation
          %ul.list-unstyled
            %li * Prezzo da intendersi IVA esclusa.

.feature-list.feature-list-inverted
  .feature
    .container.contained
      .row
        .col-xs-12.col-md-4.pull-right
          = image_tag 'ballicons/help.svg', class: 'feature-icon'

        .col-xs-12.col-md-8
          %h3 Assistenza dedicata 24x7

          %p
            Sappiamo che userai i nostri prodotti per cose importanti. Tutti gli
            utenti WHDSL hanno accesso a una linea telefonica dedicata
            disponibile 24 ore al giorno, 7 giorni su 7. Non ci sono pause sul
            nostro calendario.

          %p
            %strong Prendi pure quelle ferie. Ti copriamo le spalle.

  .feature
    .container.contained
      .row
        .col-xs-12.col-md-4
          = image_tag 'ballicons/browser.svg', class: 'feature-icon'

        .col-xs-12.col-md-8
          %h3 IP statico

          %p
            Se vuoi offrire servizi al pubblico, avrai bisogno di un IP statico.
            Con ogni contratto WHDSL riceverai in omaggio un IP pubblico
            statico. Puoi acquistare IP statici aggiuntivi a soli 6 euro IVA
            inclusa. Divertiti!

          %p
            %strong Va’ a fare del bene col tuo scintillante IP statico.

  = render 'pages/pricing/common_features'
