%dl
  %dt= t('mailers.inquiry.full_name')
  %dd= @inquiry.full_name

  %dt= t('mailers.inquiry.email')
  %dd= @inquiry.email

  %dt= t('mailers.inquiry.phone')
  %dd= @inquiry.phone

  %dt= t('mailers.inquiry.address')
  %dd= @inquiry.address

  - if @inquiry.product.present?
    %dt= t('mailers.inquiry.product')
    %dd= @inquiry.product_text

  - if @inquiry.notes.present?
    %dt= t('mailers.inquiry.product')
    %dd= simple_format @inquiry.notes
