- features = Feature.all

- if features.count > 0
  #home-features
    .container
      .row
        .col-xs-12
          %h1.text-center
            = "Costruito nel <strong>presente</strong>.".html_safe
            = "Proiettato nel <strong>futuro</strong>.".html_safe

      .feature-grid
        .row
          - features.each do |feature|
            .col-xs-12.col-sm-6.col-md-4
              .feature
                = image_tag "ballicons/#{feature.icon}.svg", class: 'feature-icon'

                %h3= feature.name
                %p= feature.content.strip
