- provide :body_id, 'home'

.jumbotron.jumbotron-photo#home-jumbotron
  .overlay
    .container#home-jumbotron-container
      #home-jumbotron-content
        .row
          .col-xs-12
            %h1#animated-home-title-wrapper
              Internet per
              %span#animated-home-title

            %h1#static-home-title-wrapper
              Internet per te.

            .jumbotron-text.contained-sm
              %p
                Internet non è più un optional, eppure quasi 3 milioni di
                italiani non possono accedervi. InterConn usa la tecnologia
                wireless per abbattere il digital divide una casa alla volta.

            .jumbotron-form-wrapper.contained
              = simple_form_for @inquiry, url: inquiries_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
                .form-group
                  = f.input_field :full_name, as: :string, class: 'form-control input-lg input-flat', placeholder: 'Il tuo nome'
                .form-group
                  = f.input_field :email, as: :string, class: 'form-control input-lg input-flat', placeholder: 'La tua email'

                %button.btn.btn-orange.btn-lg(type='submit')
                  Inizia la tua prova!

                %p Hai 15 giorni di prova gratuita e senza impegno.

      .jumbotron-arrow-wrapper
        %p= link_to fa_icon('caret-down', class: 'jumbotron-arrow'), '#home-features'

#home-features
  .container
    .row
      .col-xs-12
        %h1.text-center
          = "Costruito nel <strong>presente</strong>.".html_safe
          = "Proiettato nel <strong>futuro</strong>.".html_safe

    .feature-grid
      .row
        .col-xs-12.col-sm-6.col-md-4
          .feature
            = image_tag asset_path('ballicons/piggy-bank.svg'), class: 'feature-icon'

            %h3 Costi competitivi

            %p.lead
              Stanco di pagare troppo per avere troppo poco? Con noi ottieni
              un rapporto qualità/prezzo imbattibile.

        .col-xs-12.col-sm-6.col-md-4
          .feature
            = image_tag asset_path('ballicons/speed.svg'), class: 'feature-icon'

            %h3 Servizio da urlo

            %p.lead
              Connettività affidabile e prestazioni senza eguali. Finalmente un
              servizio su cui puoi davvero contare.

        .col-xs-12.col-sm-6.col-md-4
          .feature
            = image_tag asset_path('ballicons/help.svg'), class: 'feature-icon'

            %h3 Assistenza su misura

            %p.lead
              Dimentica le lunghe attese e le scuse improbabili. Risolveremo in
              tempo reale qualunque tuo problema.

        .col-xs-12.col-sm-6.col-md-4
          .feature
            = image_tag asset_path('ballicons/globe.svg'), class: 'feature-icon'

            %h3 Copertura estesa

            %p.lead
              Arriviamo anche dove le compagnie telefoniche tradizionali hanno
              rinunciato. Nessuno rimane indietro.

        .col-xs-12.col-sm-6.col-md-4
          .feature
            = image_tag asset_path('ballicons/document.svg'), class: 'feature-icon'

            %h3 Contratto trasparente

            %p.lead
              Non c'è alcun bisogno di complicare le cose. Con il nostro contratto
              saprai sempre per cosa stai pagando.

        .col-xs-12.col-sm-6.col-md-4
          .feature
            = image_tag asset_path('ballicons/settings.svg'), class: 'feature-icon'

            %h3 Pannello di controllo

            %p.lead
              Accedi a tutti i tuoi dati, gestisci i servizi di connettività e
              paga le fatture, tutto senza muoverti da casa.

- content_for :javascripts do
  = javascript_include_tag asset_path('pages/home.js')
