- provide :body_id, 'home'

.jumbotron.jumbotron-photo#home-jumbotron
  .overlay
    .container#home-jumbotron-container
      #home-jumbotron-content
        .row
          .col-xs-12
            %h1#animated-home-title-wrapper
              Internet per
              %span#animated-home-title

            %h1#static-home-title-wrapper
              Internet per te.

            .contained-sm
              %p
                Internet non è più un optional, eppure quasi 3 milioni di
                italiani non possono accedervi. InterConn usa la tecnologia
                wireless per abbattere il digital divide una casa alla volta.

            .jumbotron-form-wrapper.contained
              = simple_form_for @inquiry, url: inquiries_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
                .form-group
                  = f.input_field :address, as: :string, class: 'form-control input-lg input-flat', placeholder: 'Il tuo indirizzo'
                .form-group
                  = f.input_field :telephone_or_email, as: :string, class: 'form-control input-lg input-flat', placeholder: 'Telefono o email'

                %button.btn.btn-orange.btn-lg(type='submit')
                  Inizia la tua prova!

                %p Hai 15 giorni di prova gratuita e senza impegno.

        .jumbotron-arrow-wrapper
          %p= link_to fa_icon('caret-down', class: 'jumbotron-arrow'), '#features'

#home-features
  .container
    .row
      .col-xs-12
        %h1.text-center
          = "Costruito nel <strong>presente</strong>.".html_safe
          = "Proiettato nel <strong>futuro</strong>.".html_safe

    .feature-grid
      .row
        .feature.col-xs-12.col-md-4
          = image_tag asset_path('ballicons/money-saving.svg'), class: 'feature-icon'

          %h3 Costi competitivi

          %p.lead
            Stanco di pagare troppo per avere troppo poco? Con InterConn ottieni
            un rapporto qualità/prezzo senza precedenti.

        .feature.col-xs-12.col-md-4
          = image_tag asset_path('ballicons/wi-fi.svg'), class: 'feature-icon'

          %h3 Servizio da urlo

          %p.lead
            Connettività affidabile e prestazioni senza eguali. Finalmente un
            servizio su cui puoi davvero contare.

        .feature.col-xs-12.col-md-4
          = image_tag asset_path('ballicons/support.svg'), class: 'feature-icon'

          %h3 Assistenza su misura

          %p.lead
            Dimentica le lunghe attese e le scuse improbabili. Risolveremo in
            tempo reale qualunque tuo problema.

      .row
        .feature.col-xs-12.col-md-4
          = image_tag asset_path('ballicons/map.svg'), class: 'feature-icon'

          %h3 Copertura estesa

          %p.lead
            Arriviamo anche dove le compagnie telefoniche tradizionali hanno
            rinunciato. Nessuno rimane indietro.

        .feature.col-xs-12.col-md-4
          = image_tag asset_path('ballicons/dock.svg'), class: 'feature-icon'

          %h3 Contratto trasparente

          %p.lead
            Non c'è alcun bisogno di complicare le cose. Con il nostro contratto
            saprai sempre per cosa stai pagando.

        .feature.col-xs-12.col-md-4
          = image_tag asset_path('ballicons/graph.svg'), class: 'feature-icon'

          %h3 Pannello di controllo

          %p.lead
            Accedi a tutti i tuoi dati, gestisci i servizi di connettività e
            paga le fatture, tutto senza muoverti da casa.

- content_for :javascripts do
  = javascript_include_tag asset_path('pages/home.js')
