- provide :body_id, 'home'

.jumbotron.jumbotron-photo#home-jumbotron
  .overlay
    .container#home-jumbotron-container
      #home-jumbotron-content
        .row
          .col-xs-12
            %h1#animated-home-title-wrapper
              Internet per
              %span#animated-home-title

            %h1#static-home-title-wrapper
              Internet per te.

            .jumbotron-text.contained-sm
              %p

                Comunicare non è un optional, eppure quasi 3 milioni di italiani
                non possono accedere a internet. Con la tecnologia wireless
                abbattiamo il digital divide una casa alla volta.

            .jumbotron-form-wrapper.contained
              = simple_form_for @inquiry, url: inquiries_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
                = f.hidden_field :product

                .form-group
                  = f.input_field :full_name, as: :string, class: 'form-control input-lg input-flat', placeholder: 'Nome e cognome'
                .form-group
                  = f.input_field :email, as: :string, class: 'form-control input-lg input-flat', placeholder: 'Indirizzo email'

                %button.btn.btn-orange.btn-lg(type='submit')
                  Inizia la tua prova!

                %p Hai 15 giorni di prova gratuita e senza impegno.

      .jumbotron-arrow-wrapper
        %p= link_to fa_icon('caret-down', class: 'jumbotron-arrow'), '#home-features'

= render 'features'
= render 'testimonials'

- content_for :javascripts do
  = javascript_include_tag 'pages/home.js'
