%dl
  %dt= t('mailers.ticket.full_name')
  %dd= @ticket.full_name

  %dt= t('mailers.ticket.email')
  %dd= @ticket.email

  - if @ticket.phone.present?
    %dt= t('mailers.ticket.phone')
    %dd= @ticket.phone

  %dt= t('mailers.ticket.message')
  %dd= simple_format @ticket.message
