%dl
  %dt= t('mailers.ticket.full_name')
  %dd= @ticket.full_name

  %dt= t('mailers.ticket.email')
  %dd= @ticket.email

  %dt= t('mailers.ticket.phone')
  %dd= @ticket.phone

%hr/

%p
  %strong= t('mailers.ticket.message')

= simple_format @ticket.message
