- provide :title, 'Contratto'
- provide :body_id, 'contract'

.heading.heading-bordered
  .container
    %h1.heading-title Contratto
    %h3.heading-description A sinistra per gli avvocati, a destra per te.

.toolbar-subnav.visible-xs
  .container
    .toolbar-subnav-section
      .btn-group(data-toggle='buttons')
        %label.btn.btn-sm.btn-orange.active
          %input(type='radio' name='contract-view' value='complete' checked) Completo
        %label.btn.btn-sm.btn-blue-light
          %input(type='radio' name='contract-view' value='simplified') Semplificato

- articles = ContractArticle.all
- articles.each_with_index do |article, index|
  .container.article{id: "art-#{article.id}", 'data-scroll-offset': 61}
    .row
      .col-xs-12.col-sm-6
        %h4= "#{article.id}. #{article.name}"

        .terms-long
          = article.content.html_safe

      .col-xs-12.col-sm-6.terms-short.hidden-xs.hidden-xs
        %h4.hidden-xs In sintesi
        = article.summary.html_safe

  - unless index == articles.length - 1
    %hr/

- content_for :javascripts do
  = javascript_include_tag 'pages/contract.js'
