- provide :title, 'Copertura InterConn'
- provide :body_id, 'coverage'
- provide :navbar_classes, 'navbar-inverse'

#map-canvas

#map-overlay
  #map-overlay-inner
    .container
      .heading
        %h1.heading-title Copertura del servizio
        %h3.heading-description Se ancora non ci siamo, ci saremo tra poco!

    .container#coverage-container
      .row
        .col-xs-12
          .coverage-check-form
            .form-group
              .input-group.input-group-lg
                %input.form-control.input-flat#coverage-address(placeholder='Inserisci il tuo indirizzo...')

                %span.input-group-addon.check-status-standby#check-status
                  = fa_icon 'arrow-left'
                  In attesa

      .row
        .col-xs-12
          %ul.list-inline.covered-areas-list
            %li
              = fa_icon 'check', class: 'fa-success'
              Albano Laziale

            %li
              = fa_icon 'check', class: 'fa-success'
              Guidonia

            %li
              = fa_icon 'check', class: 'fa-success'
              Tivoli Terme

            %li
              = fa_icon 'check', class: 'fa-success'
              Villalba

            %li
              = fa_icon 'check', class: 'fa-success'
              Roma Sud

- content_for :javascripts do
  = javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places'
  = javascript_include_tag asset_path('pages/coverage.js')
