- provide :title, 'Copertura'
- provide :body_id, 'coverage'
- provide :navbar_classes, 'navbar-inverse'

#map-canvas

#map-overlay
  #map-overlay-inner
    .container
      .heading
        %h1.heading-title Copertura del servizio
        %h3.heading-description Se ancora non ci siamo, è la prossima destinazione.

    .container#coverage-container
      .row
        .col-xs-12
          .coverage-check-form
            .form-group
              .input-group.input-group-lg
                %input.form-control.input-flat#coverage-address(placeholder='Inserisci il tuo indirizzo...' autofocus)

                %a.input-group-addon.check-status-standby#check-status(href='#')
                  = fa_icon 'arrow-left'
                  %span.hidden-xs Scrivi qualcosa!

      .row.hidden-xs
        .col-xs-12
          %ul.list-inline.covered-areas-list
            - CoveredArea.all.sort_by(&:name).each do |area|
              %li
                = fa_icon 'check', class: 'fa-success'
                = area.name

- content_for :javascripts do
  = javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places'
  = javascript_include_tag 'pages/coverage.js'
