- provide :title, 'Kit stampa'
- provide :body_id, 'press-kit'

.heading.heading-bordered
  .container
    %h1.heading-title Kit stampa
    %h3.heading-description
      Tutto il materiale pubblicitario di cui hai bisogno.

.container.contained#logos-container
  .row
    .col-xs-12.col-sm-6
      %p= image_tag 'press-kit/glyph/glyph-thumb.png', class: 'img-responsive img-thumbnail'

      %p
        %ul.download-links-list
          %li
            = link_to 'SVG', asset_path('images/press-kit/glyph/glyph.svg')
            (8,0 KB)

          %li
            = link_to 'PNG', asset_path('images/press-kit/glyph/glyph.png')
            (239,4 KB)

    .col-xs-12.col-sm-6
      %p= image_tag 'press-kit/full-logo/vertical/vertical-thumb.png', class: 'img-responsive img-thumbnail'

      %p
        %ul.download-links-list
          %li
            = link_to 'SVG', asset_path('images/press-kit/full-logo/vertical/vertical.svg')
            (19,1 KB)

          %li
            = link_to 'PNG', asset_path('images/press-kit/full-logo/vertical/vertical.png')
            (301,2 KB)

    .col-xs-12
      %p= image_tag 'press-kit/full-logo/horizontal/horizontal-thumb.png', class: 'img-responsive img-thumbnail'

      %p
        %ul.download-links-list
          %li
            = link_to 'SVG', asset_path('images/press-kit/full-logo/horizontal/horizontal.svg')
            (18,7 KB)

          %li
            = link_to 'PNG', asset_path('images/press-kit/full-logo/horizontal/horizontal.png')
            (271,7 KB)
