- provide :title, "L'offerta"

.container
  %section
    .heading.heading-spaced
      %h1 WADSL: veloce e affidabile.
      %p.lead
        L'ideale per sbrigare le faccende di ogni giorno.

    .row.pricing-tables-container
      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 7 Mega Privati
            %li.product-price
              %span.price-currency €
              %span.price-digits 24
              %span.price-interval / mese

            %li.product-feature.product-feature-2x
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 7 Mbps / 1 Mbps

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 10 Mega Privati
            %li.product-price
              %span.price-currency €
              %span.price-digits 31
              %span.price-interval / mese

            %li.product-feature.product-feature-2x
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 10 Mbps / 1 Mbps

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 4 Mega Business
            %li.product-price
              %span.price-currency €
              %span.price-digits 39
              %span.price-interval / mese

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 4 Mbps / 1 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 256 Kbps

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

      .col-xs-12.col-sm-6.col-md-3.pricing-table-container
        .pricing-table-container-inner
          %ul.pricing-table
            %li.product-name 7 Mega Business
            %li.product-price
              %span.price-currency €
              %span.price-digits 69
              %span.price-interval / mese

            %li.product-feature
              %ul
                %li.feature-desc Velocità di picco
                %li.feature-numbers 7 Mbps / 1 Mbps

            %li.product-feature
              %ul
                %li.feature-desc Banda garantita
                %li.feature-numbers 512 Kbps

            %li.product-action
              = link_to "Attiva Offerta", '#', class: 'btn btn-orange btn-lg btn-transition'

    .row.larger-plans-row
      .col-xs-12
        = link_to 'Ti servono piani più grandi?', '#'

.bg-gray
  .container.general-features-container
    .row
      .col-xs-12
        .text-center
          %h2 Ogni piano comprende...

    .row
      .col-xs-12.col-sm-6
        .contained-xs
          %dl
            %dt.h4
              = fa_icon 'envelope-o', class: 'fa-fw'
              Email da 1 GB
            %dd
              Puoi usare l'email solo per le comunicazioni di InterConn o
              per tutte le tue necessità. Se preferisci, possiamo anche inviare
              le notifiche al tuo indirizzo esistente.

            %dt.h4
              = fa_icon 'signal', class: 'fa-fw'
              Router Wi-Fi
            %dd
              Ti sarà consegnato un router Wi-Fi in comodato d'uso gratuito. Il
              router è coperto da garanzia illimitata e, in caso di guasto, sia
              il nuovo hardware che la sostituzione sono gratuiti.

      .col-xs-12.col-sm-6
        .contained-xs
          %dl
            %dt.h4
              = fa_icon 'globe', class: 'fa-fw'
              IP pubblico dinamico

            %dd
              Molti provider limitano i propri utenti con gli IP privati.
              InterConn assegna a ogni utente con un contratto WADSL un IP
              pubblico dinamico, per poter accedere a tutti i servizi online.

            %dt.h4
              = fa_icon 'clock-o', class: 'fa-fw'
              15 giorni di prova

            %dd
              Temi che il servizio non sia all'altezza? Hai 15 giorni di prova
              completamente gratuita e senza impegno. Se ci ripensi puoi
              restituirci antenna e contratto. Ma ti garantiamo che non accadrà.
