- provide :title, 'Progetti'
- provide :body_id, 'projects'

.heading.heading-bordered
  .container
    %h1.heading-title Progetti
    %h3.heading-description Pensi che ci manchi la fantasia? Guarda qui!

.container#projects-container
  -#
    .row
      .col-xs-12
        .no-projects.contained-sm
          = fa_icon 'frown-o', class: 'no-projects-icon'

          %p.no-projects-text
            Sembra che attualmente non ci siano promozioni attive.
            Perché non riprovi tra un po'? Avremo qualcosa per te!

          %p.back-to-home
            = link_to 'Torna alla home →', root_path

  .row
    .col-xs-12.col-sm-6
      .project#bring-a-friend
        .project-image-wrapper
          = link_to image_tag('projects/bring-a-friend.jpg', class: 'img-responsive', alt: 'Porta un amico'), contact_path

        %h3 Porta un amico

        %p
          Chi trova un amico trova un tesoro, recita un antico proverbio. Da
          InterConn, chi porta un amico ottiene insieme a lui un mese di
          connettività gratuita. Se sei rimasto soddisfatto del nostro servizio
          perché non condividere la gioia? Suggerisci InterConn ai tuoi
          conoscenti: ne beneficerete entrambi!

    .col-xs-12.col-sm-6
      .project#evangelist
        .project-image-wrapper
          = link_to image_tag('projects/evangelists.jpg', class: 'img-responsive', alt: 'Diventa un Evangelist'), contact_path

        %h3 Diventa un Evangelist

        %p
          Se sei il titolare di una piccola o media impresa, puoi diventare un
          InterConn Evangelist. Gli Evangelist pubblicizzano il brand InterConn
          e raccolgono autonomamente i dati di clienti interessati ai nostri
          servizi.

          = link_to 'Contattaci', contact_path

          subito per un accordo su misura; combatti in prima linea il digital
          divide!

    .col-xs-12.col-sm-6.col-sm-offset-3
      .project#albatros
        .project-image-wrapper
          = link_to image_tag('projects/albatros.jpg', class: 'img-responsive', alt: 'Progetto Albatros'), contact_path

        %h3 Progetto Albatros

        %p

          Le scuole pubbliche di ogni ordine e grado sprovviste di qualunque
          connettività a internet e coperte dai nostri servizi possono usufruire
          gratuitamente della nostra offerta WADSL 10 Mega. Se dirigi un
          istituto colpito dal digital divide,

          = link_to 'contattaci', contact_path

          per pianificare l'installazione. Saremmo felici di servirti!
