- provide :body_id, 'contact'
- provide :title, 'Contatti'

.heading.heading-bordered
  .container
    %h1.heading-title Contatti e supporto
    %h3.heading-description Fatti avanti, siamo qui per aiutare!

.data-grid
  .container
    .row
      .col-xs-12.col-sm-4.datum
        .datum-note Numero verde gratuito
        .datum-number 800-193724

      .col-xs-12.col-sm-4.datum
        .datum-note Da cellulari e dall'estero
        .datum-number 06-83390315

      .col-xs-12.col-sm-4.datum
        .datum-note Comunicazioni via fax
        .datum-number 06-62204896

.container#contact-form-wrapper
  .row
    .col-xs-12.col-md-6.col-md-offset-1#contact-form-column
      .contained-sm
        - if @ticket.persisted?
          %h3 Messaggio inviato

          %p
            Il tuo messaggio è stato inviato con successo! Riceverai una
            risposta in men che non si dica.
        - else
          %h3 Apri un ticket

          = simple_form_for(@ticket, url: contact_path) do |f|
            = f.input :full_name, input_html: { class: 'input-lg' }
            = f.input :phone, input_html: { class: 'input-lg' }
            = f.input :email, input_html: { class: 'input-lg' }
            = f.input :category, input_html: { class: 'input-lg' }
            = f.input :subject, input_html: { class: 'input-lg' }
            = f.input :message, input_html: { class: 'input-lg', id: 'message' }

            .text-right
              %button.btn.btn-lg.btn-blue-light(type='submit') Contattaci

    .col-xs-12.col-md-4#contact-info-column
      .contained-sm
        %h3 Orari di reperibilità

        %p
          I nostri servizi di assistenza sono attivi dal lunedì al venerdì, dalle
          9 alle 19. Se hai bisogno di contattarci al di fuori di questo orario,
          invia un'email e ti risponderemo appena possibile.

        %h3 A chi scrivere?

        %p
          %strong Amministrazione:
          domande e richieste riguardanti la fatturazione e i contratti.

        %p
          %strong Informazioni:
          informazioni generiche sul servizio e sulle promozioni in corso,
          candidature.

        %p
          %strong Assistenza:
          segnalazione di guasti e richieste di supporto tecnico per utenti
          esistenti.
