%p Un utente di InterConn ha inviato una richiesta di supporto.

%dl
  %dt Nome:
  %dd= @contact.full_name

  %dt Email:
  %dd= @contact.email

  %dt Telefono/cellulare:
  %dd= @contact.phone

  %dt Indirizzo IP:
  %dd= @contact.source_ip

  %dt Data:
  %dd= @contact.created_at

  %dt Messaggio:
  %dd= simple_format @contact.message

%p Per ricontattare l'utente, semplicemente rispondi a questa email.
