- notes = plan.vat_included? ? '*' : '**'

%ul.pricing-table
  %li.product-name= plan.name
  %li.product-price
    %span.price-currency €
    %span.price-digits= number_to_currency(plan.monthly_cost, format: '%n', precision: plan.monthly_cost.is_a?(Float) ? 2 : 0)
    %span.price-interval= "/ mese#{notes}"

  - if plan.erased_monthly_cost
    %li.product-erased-price
      invece di
      %span.price-content= "€ #{plan.erased_monthly_cost} / mese#{notes}"

  - plan.features.each do |feature|
    - feature_classes = 'product-feature'
    - feature_classes += ' product-feature-optional' if feature['optional']
    - feature_classes += ' product-feature-2x' if feature['2x']

    %li{class: feature_classes}
      %ul
        %li.feature-desc= feature['name']
        %li.feature-numbers
          .feature-content
            = feature['content']
            - if feature['tooltip']
              = link_to fa_icon('question-circle'), '#', data: { toggle: 'tooltip' }, title: feature['tooltip'], class: 'text-small'
          .feature-discounted-content
            = feature['erased_content']
          - if feature['erased_content']
            %span.label.label-success PROMO

  - if plan.include_connection_type?
    %li.product-feature
      %ul
        %li.feature-desc Tipo connessione
        %li.feature-numbers
          .feature-content
            = image_tag 'connection_type.png', style: 'max-width: 82px; padding-top: 5px', class: 'img-responsive center-block'

  %li.product-action
    = link_to 'Attiva Offerta', new_inquiry_path(product: plan.slug), class: 'btn btn-orange btn-lg btn-transition'
