- provide :title, @category.name
- provide :body_id, "plans-#{@category.slug}"

= render 'navigation'

%section
  .heading
    .container
      %h1.heading-title= @category.long_name
      %h3.heading-description= @category.description

  - if @category.slug == 'voip'
    = render 'voip', plan: @category.plans.first
  - else
    .container
      = render 'plans', plans: @category.plans

      = render 'custom_plans'
      = render 'notes'

      = render 'panels', panels: @category.panels

    = render 'features', features: @category.features
