- provide :title, @category.name
- provide :body_id, "plans-#{@category.slug}"

= render 'navigation'

%section
  .heading
    .container
      %h1.heading-title= @category.long_name
      %h3.heading-description= @category.description

  - if @category.slug == 'voip'
    = render 'voip', plan: @category.plans.first
  - else
    .container
      = render 'plans', plans: @category.plans

      = render 'custom_plans'
      = render 'notes'

      - if @category.panels
        - @category.panels.each do |panel|
          %div{class: "panel panel-#{panel['type']}"}
            .panel-heading
              %h3.panel-title= panel['title']

            .panel-body
              = panel['content'].html_safe

    = render 'features', features: @category.features
