= simple_form_for(@inquiry) do |f|
  - if @inquiry.new_record?
    = f.input :full_name, input_html: { class: 'input-lg' }

    .row
      .col-xs-12.col-sm-6
        = f.input :email, input_html: { class: 'input-lg' }

      .col-xs-12.col-sm-6
        = f.input :phone, input_html: { class: 'input-lg' }
  - else
    = f.input :phone, input_html: { class: 'input-lg' }

  = f.input :address, input_html: { class: 'input-lg' }
  = f.input :product, input_html: { class: 'input-lg' }
  = f.input :notes, input_html: { class: 'input-lg', style: 'min-height: 150px' }

  .text-center
    %button.btn.btn-lg.btn-primary.btn-orange
      - if @inquiry.persisted?
        Aggiorna richiesta
      - else
        Richiedi un sopralluogo
