%nav{class: "navbar navbar-fixed-top #{content_for?(:navbar_classes) ? yield(:navbar_classes) : 'navbar-default'}", role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-collapse')
        %span.sr-only Commuta navigazione
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to "#{image_tag(asset_path('glyph.svg'))} <span>InterConn</span>".html_safe, root_path, class: 'navbar-brand'

    .collapse.navbar-collapse#navbar-collapse
      .navbar-right
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle(href='#' data-toggle='dropdown')
              Offerta
              %span.caret
            %ul.dropdown-menu(role='menu' data-no-turbolink)
              %li= link_to 'WADSL', pricing_wadsl_path
              %li= link_to 'WHDSL', pricing_whdsl_path
              %li= link_to 'VoIP', pricing_voip_path

          %li= link_to 'Copertura', coverage_path
          %li= link_to 'Contatti', contact_path

        %ul.nav.navbar-nav
          %li.navbar-nav-action= link_to "Chiedi l'attivazione", '#'
