!!!
%html
  %head
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='description' content='InterConn fornisce connettività internet veloce e affidabile.')

    %title= content_for?(:title) ? "#{yield(:title)} | InterConn" : 'InterConn'

    = stylesheet_link_tag 'application', media: 'all'

    = csrf_meta_tags

    = favicon_link_tag '/images/apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
    = favicon_link_tag '/images/apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
    = favicon_link_tag '/images/apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
    = favicon_link_tag '/images/apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = favicon_link_tag '/images/favicon.ico', rel: 'shortcut icon'

  %body{id: yield(:body_id)}
    .deals
      .content
        %p= link_to 'Promozioni', deals_path

    = render 'layouts/navbar'

    %main(role='main')
      = yield

    = render 'layouts/bottom_call' unless yield(:hide_ctas).present?
    = render 'layouts/footer'

    = javascript_include_tag 'application'

    /[if lt IE 9]
      = javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
      = javascript_include_tag '//oss.maxcdn.com/respond/1.4.2/respond.min.js'

    = yield :javascripts
    = render 'layouts/ga' if ENV['GA_ID']

= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400,700'
